@import 'partials';


* {
    @include global-style-reset
}

body {
    color: $font-color;
    font-family: arial;
}

// GLOBAL
.fa-phone {
    transform: rotateY(180deg);
}

input,
textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
}

//BAR
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    z-index: 2;
    margin-top: 15px;

    .fa-university {
        color: $brigth-yellow;
        font-size: 24px;
    }

    .bar-logo-caption {
        font-weight: 600;
        font-size: 20px;
    }

    .bar-contact-caption {
        display: inline-block;
        font-size: 12px;
    }

    .fa-phone {
        transform: rotateY(180deg) translateY(- 40%);
    }

    .bar-contact-caption-text {
        font-size: 10px;
    }
}


// SECTION FORM
.form-section {
    position: relative;
    height: 78vh;
    background: url(../assets/img/background.png) no-repeat center center / cover;
    background-position-y: +30%;
}

.form-outer-container {
    position: absolute;
    top: 25%;
    right: 15%;
    width: 250px;

    h2 {
        font-size: 16px;
        margin-bottom: 10px;
        padding-right: 5px;

        span {
            color: $brigth-yellow;
        }
    }

}


.form-inner-container {
    width: 100%;
    background-color: #021C8A;
    padding: 10px;

    .form-header {
        font-size: 14px;
    }

    input {
        height: 30px;
        padding-left: 3px;
    }

    input::placeholder {
        font-size: 10px;
    }

    textarea {
        height: 40px;
        padding: 3px 0 0 3px;
    }

    textarea::placeholder {
        font-size: 10px;
    }

    .btn {
        width: 60px;
        height: 40px;
        padding: 0;
        background-color: $brigth-yellow;
        border: none;
        font-weight: 600;
    }
}


//FOOTER
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    background-color: $dark-background;


    .contact-icons {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 30px 0 10px 0;
        font-size: 11px;

        .icon-container {
            width: 30px;
            height: 30px;
            margin: 10px auto;
            background-color: $dim-yellow;
            text-align: center;

            .fas {
                color: #000;
                line-height: 30px;
                font-size: 14px;
            }
        }
    }

    .footer-caption {
        width: 70%;
        font-size: 10px;
    }
}